html {
  font-size: 16px;
}

body {
  background-color: #edebed;
}

h3 {
  font-weight: 400;
}

header {
  background-color: #126e82;
}

header * {
  color: #d8e3e7;
}

.navigation {
  column-gap: 2rem;
}

.nav-entries {
  text-decoration: none;
  font-size: 1.1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.input-field > input,
textarea {
  margin-top: 0.3rem;
}

.input-field > label {
  font-weight: bold;
  font-size: 0.9rem;
}

.save-btn {
  align-self: flex-end;
  font-size: 1rem;
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #126e82;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 3px 8px;
}

.new-btn {
  text-decoration: none;
}
